*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.json
*.pptx

/interview/info_interview.md
/info_responses
/interview/slides/figures
/initial_information
/slides/old_versions
/capstone_requeriments
/literature
/scripts/.ipynb_checkpoints/
/slides/figures
/slides/old_versions
/data
